@use "reset";


.main {
  background-color: black;
  font-family: "Creepster";
}
.container {
  display: grid;
  gap: 1rem;
}

.grid {
  display: grid;
  padding: 5rem;
  gap: 1rem;
}


picture {
  width: 15rem;
  margin-left: auto;
  margin-right: auto;
}

.gridtemplateareas {
    grid-auto-rows: 4fr;
    grid-auto-columns: 2fr 2fr;
    grid-template-areas: " img1 img2 ";
  
  
  .gridtemplateareas .item:nth-child(1) {
    grid-area: img1;
  }
  
  .gridtemplateareas .item:nth-child(2) {
    grid-area: img2;
  }
  
  .gridtemplateareas .item:nth-child(3) {
    grid-area: img3;
  }
  
  .gridtemplateareas .item:nth-child(4) {
    grid-area: img4;
  }
  .gridtemplateareas .item:nth-child(5) {
    grid-area: img5;
  }
  
  .gridtemplateareas .item:nth-child(6) {
    grid-area: img6;
  }
  
  .gridtemplateareas .item:nth-child(7) {
    grid-area: img7;
  }
  
  .gridtemplateareas .item:nth-child(8) {
    grid-area: img8;
  }
  .gridtemplateareas .item:nth-child(9) {
    grid-area: img9;
  }
  
  .gridtemplateareas .item:nth-child(10) {
    grid-area: img10;
  }
}
  .textcenter {
    text-align: center;
    color: orange;
  }

  @font-face {
    font-family: "Creepster";
    src: url("/assets/fonts/Creepster-Regular.ttf");
  }




.countrytext {
  color: white;
  text-align: center;
}
.bcolor {
 background-color: black;
}

@media (max-width: 400px) {
  .grid{
    display: flex;
    flex-direction: column;
  }
  
 
}

nav > ul {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
}