---
layout: base.njk
title: land
---

<main class="countrytext">
    <h1>{{country[0].name.official}} {{country[0].name.nativeName.jpn.official}}</h1>
    <pre class="grid gridtemplateareas">
        
        {% image country[0].flags.png, "japan" %}
        

        
        {% image country[0].coatOfArms.png, "coat of arms", "100vw" %}
               
        <p>Flag of Japan</p>
        
        <p>Coat of Arms</p>


    </pre>
</main>